<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp ◽ Instagram</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

</head>

<body>

    <div class="container">

        <form action="">
            <h1 style="text-align: center">𝓘𝓷𝓼𝓽𝓪𝓰𝓻𝓪𝓶</h1>
            <input type="email/phone" placeholder="Phone number, username or email"><br>
            <input type="password" placeholder="Password"><br>
            <button>Log in</button>

        </form><br> OR

        <div class="col">
            <a href="" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i>
                <img src="" alt=""> Log in with facebook
            </a>
        </div>

    </div>

</body>

</html>