* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.nav .img {
    height: 50px;
}

.nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

.nav .nav-item .search {
    height: 25px;
    width: 200px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(133, 131, 131);
    padding-left: 7px;
}

.nav .nav-item .nav-items .icon {
    /* padding-left: 10px; */
    margin: 0 5px 0 5px;
    height: 25px;
    width: 25px;
}